---
layout: default
title: 서재
permalink: /seojae/
order: 10
---
{% assign seojae_posts = site.posts | where: "section", "seojae" | where: "lang", "ko" %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="seojae">
        <h1 class="seojae__heading">서재</h1>
        <p class="seojae__intro">직접 쓴 글과 책·시를 읽고 남긴 기록.</p>
        {% if seojae_posts.size == 0 %}
          <p class="seojae__empty">아직 글이 없습니다.</p>
        {% endif %}
        <ul class="seojae-list list-reset">
          {% for post in seojae_posts %}
          <li class="seojae-list__item">
            <a href="{{ post.url | prepend: site.baseurl }}" class="seojae-list__link">
              <span class="seojae-list__title">{{ post.title }}</span>
              <time class="seojae-list__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
            </a>
            <p class="seojae-list__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 120 }}{% endif %}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
