{% assign post = include.post | default: post %}
{% assign variant = include.variant | default: "card" %}
<!-- begin article -->
<article class="article article--{{ variant }}">

  {% if post.image %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="article__image" style="background-image: url('{{ site.baseurl }}/images/{{ post.image }}')" aria-label="{{ post.title }}"></a>
  {% endif %}

  <div class="article__content {% unless post.image %}article-without-image{% endunless %}">
    {% if post.tags.size >= 1 %}
      <div class="article__kicker">
        {% for tag in post.tags limit:2 %}
          <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: " ", "-" }}" class="article__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}

    <h2 class="article__title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>

    <div class="article__meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
    </div>
  </div>

</article>
<!-- end article -->
