.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: 18px;
        color: var(--color-gray);
        &:hover {
          color: var(--color-text);
        }
      }
    }
  }
}